{{!< default}}
<div id="home">
	<div id="sidebar">
<!-- 		<img id="sideLogo" src="http://i.imgur.com/qZpx3n2.png"/> -->
		<logo><p id="logo">k.</p></logo>
		<a href="#"><h2 id="sideTitle">kian lavi</h2></a>
		<p id="sideCaption">INTERACTION DESIGNER</p>
		<p class="sideResume"><a href="http://www.kianlavi.com/resume.pdf" target="_blank">Resume</a></p>
		<p class="sideLinks"><a class="sideLinksA" href="{{ @blog.url }}/about" target="_blank">About Me</a></p>
		<p class="sideLinks"><a class="sideLinksA" href="mailto:kianlavi+jobs@gmail.com?subject=Hi Kian!" target="_blank">Email Me</a></p>
		<p class="sideLinks"><a class="sideLinksA" href="http://www.kianlavi.com" target="_blank">Photography</a></p>				
	</div>
    <div class="posts">
        <nav class="art-list">
          <ul class="art-list-body">
            {{#foreach posts }}
            <li id="{{id}}" style="background-image:url({{image}});" class="art-list-item" onclick="location.href='{{url}}';" style="cursor: pointer;">
            	<featured>
					<a href="{{url}}"><div class="art-list-item-title-and-time"></a>
						<h2 class="art-list-title"><a id="hello" href="{{ @blog.url }}{{ url }}">{{ title }}</a></h2>
						<div class="art-list-time">{{date published_at format="MMMM Do, YYYY"}}</div>
					</div>
					<p>{{excerpt words="10"}}</p>
				</featured>
            </li>
            {{/foreach}}
          </ul>
        </nav>
    </div>
</div>